:root{
  --heading-color:#000;
  --secondary-heading-color:#8f8f8f;
  --tertiary-heading-color:#5a5a5a;
  --primary-font-size:16px;
  --secondary-font-size:12px;
  --tertiary-font-size:10px;
  --font-size-md:14px;
}
body{
  font-family: 'lexend' !important;
  
}
.base-Popper-root li{
  font-size: var(--primary-font-size) !important;
  padding: 10px !important;
  margin: 0px !important;
}

